/* SCSS HEX */
$main-text: #f1f2f3;
$accent: #219ebcff;
$main-dark: #030303;
$yellow: #ffb703ff;
$orange: #fb8500ff;
$bg-color: #151515;
$button-bg: #115374;


// Font
$main-font: 'Nunito', sans-serif;