.winners {
  &-title {
    font-size: 25px;
  }
  &-table {
    display: block;
    border-spacing: 0;
    & td,
    & th {
      padding: 0 10px;
    }
    & th:first-child {
      border-radius: 10px 0 0 10px;
    }
    & th:last-child {
      border-radius: 0 10px 10px 0;
    }
    & th {
      padding: 5px 10px;
      background-color: #2f84da;
      border-right: 1px solid #123;
      &:last-child {
        border-right: none;
      }
      &.clickable {
        cursor: pointer;
      }
    }
  }
}
