.tree-page {
  height: calc(100vh - 144px);
  display: flex;

  &__side {
    height: 100%;
    width: calc(100% / 2);
    background: #152725d7;
  }
  &__tree {
    width: 60%;
  }
  &__caption {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .left {
    padding: 20px 20px 20px 40px;
    &__btn {
      background: transparent;
      border: none;
      &:nth-child(2) {
        margin-left: 30px;
      }
      cursor: pointer;
      padding: 0;
      width: 36px;
      height: 36px;
      &:hover {
        svg {
          opacity: 0.7;
        }
      }
      &.active {
        svg path {
          fill: #000;
        }
      }
    }
    &__bg {
      display: flex;
      width: 100%;
      gap: 10px;
      flex-wrap: wrap;
      &_link {
        width: 60px;
        height: 60px;

        border: #fff 2px solid;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &.active {
          border: #c5a241 4px solid;
        }
      }
    }
    .pngs {
      &__link {
        width: 90px;
        height: 90px;
        background-size: contain;
        background-color: #25464b;
      }
    }
  }
  .right {
    padding: 20px 40px 20px 20px;
  }
  .toys {
    display: flex;

    gap: 10px;
    flex-wrap: wrap;
    &__item {
      position: relative;
      width: 60px;
      height: 60px;
    }
    &__png {
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
    }
  }
  &__tree {
    background-size: cover;
    background-position: center;
  }
  .tree {
    position: relative;

    .snow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1000;
    }
    &__lights {
      position: absolute;
      display: flex;
      justify-content: center;
      height: 100%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 500;
    }
    &__cover {
      // margin-bottom: 30px;
      width: 100%;
      // margin: 0 auto;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 30px;
    }
    &__img {
      width: calc(100% - 10vw - 30px);
      // height: 100%;
      display: block;
      // margin: 100px auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__map {
      cursor: pointer;
    }
  }
}
