.tree-page {
  height: calc(100vh - 144px);
  display: flex;

  &__side {
    height: 100%;
    width: calc(100% / 2);
    background: #152725d7;
  }
  &__tree {
    width: 60%;
  }
  &__caption {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .left {
    padding: 20px 20px 20px 40px;
    &__btn {
      background: transparent;
      border: none;
      // cursor: pointer;
      &:nth-child(2) {
        margin-left: 30px;
      }
      cursor: pointer;
      padding: 0;
      width: 36px;
      height: 36px;
      &:hover {
        svg {
          opacity: 0.7;
        }
      }
      &.active {
        svg path {
          fill: #000;
        }
      }
    }
    &__bg {
      display: flex;
      width: 100%;
      gap: 10px;
      flex-wrap: wrap;
      &_link {
        width: 60px;
        height: 60px;

        border: #fff 2px solid;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &.active {
          border: #c5a241 4px solid;
        }
      }
    }
  }
  .pngs {
    &__link {
      width: 90px;
      height: 90px;
      background-size: contain;
      background-color: #25464b;
    }
  }
  .right {
    padding: 20px 40px 20px 20px;
  }
  .toys {
    display: flex;

    gap: 10px;
    flex-wrap: wrap;
    &__item {
      position: relative;
      display: flex;
      width: 70px;
      height: 70px;
      background-color: #3999b6;
      // padding: 10px;
      border-radius: 13px;
      justify-content: center;
      align-items: center;
    }
    &__png {
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      cursor: move;
      z-index: 1;
    }
    &__count {
      text-align: center;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      right: 0;
      padding: 5px;
      background-color: #9b791c;
      color: #030303;
      border: #000 1px solid;
      border-radius: 50%;
      z-index: 3;
    }
  }
  &__tree {
    background-size: cover;
    background-position: center;
  }
  .snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .tree {
    position: relative;
    min-width: 768px;

    &__lights {
      position: absolute;
      display: flex;
      justify-content: center;
      height: 100%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 500;
    }
    &__cover {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &__img {
      // width: calc(100% - 10vw - 30px);
      // height: 100%;
      width: 500px;
      display: block;
      // margin: 100px auto;
      position: absolute;
      z-index: 100;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__map {
      cursor: pointer;
      position: relative;
      z-index: 100;
    }
  }
}
