.car {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  &-name {
    font-size: 20px;
    color: #aaa33c;
  }
  &-top {
    display: flex;
    column-gap: 15px;
  }
  &-track {
    display: flex;
    align-items: center;
  }
  &-btn {
    width: 30px;
    height: 30px;
    &__start {
      color: #75c266;
      outline-color: #75c266 !important;
      margin-right: 15px;
    }
    &__reset {
      color: #a02b22;
      outline-color: #a02b22 !important;
      margin-right: 15px;
    }
  }
  &-road {
    width: 100%;
  }
  &-svg {
    position: relative;
  }
  &-flag {
    width: 150px;
    &_img {
      width: 20px;
      height: 20px;
      background: crimson;
      transform: translateX(-100%);
    }
  }
  &-wrapp {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #fff;
  }
}

.animation {
  animation: drive linear;
  animation-fill-mode: forwards;
}

@keyframes drive {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
