.main {
  padding: 10px;
}

.notif {
  position: fixed;
  left: 50%;
  transform: (translateX(-50%));
  top: 25%;
  background-color: #33806c;
  font-weight: 700;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: 3px solid #fff;
}

.pagination {
  margin-top: 20px;
  display: flex;
  column-gap: 20px;
  &_btn {
    text-transform: uppercase;
  }
}
